/* styles.css */

.font-poppins::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0; 
    margin: 0;
    padding: 0;
    top: 100%;
    width: 90%; 
    height: 4px; 
    background-color: #1abd82; 
    border-radius: 5px; 
    font: "Poppins", sans-serif;
  }
  